*{
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
header{
    width: 400px;
    height: 60%;
    color: white;
    //background: linear-gradient(pink 70%, black 30%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 15px;
    
    background:       
        //linear-gradient(to right, black 50%, transparent 50%),
        radial-gradient(circle 120px at 30% 50%, black 100%, transparent),
        radial-gradient(circle 200px at 109.5% 44.5%, pink 100%, transparent),

        linear-gradient(pink 50%, black 30%);

        
    //border-top-left-radius: 30%;
    //border-top-right-radius: 0%;
    display:block;
    
    .volCtrl{
        float: right;
        border-radius: 10px;
        display: grid;
        background: black;
        height: 50px;
        width: 70px;
        grid-template-areas: "up volume" 
                             "down volume";
        .fa-angle-up{
            grid-area: 'up';
            text-align: center;
            align-self: center;
            &:hover{
                transform: scale(1.2);
                color: pink;
            }
        }
        .fa-angle-down{
            grid-area: 'down';
            text-align: center;
            align-self: center;
                        &:hover{
                transform: scale(1.2);
                color: pink;
            }
        }
        .fa-layers{
            grid-area: 'volume';
            grid-row: span 2;
            padding-top: 9px;
            padding-right: 35px;
            img{
                width: 36px;
                position: absolute;
            }
            i{
                position: absolute;
            }
            .mute{
                visibility: hidden;
            }
            .fa-ban{
                    z-index: 2;
            }
        }
    }
    .record{
        margin-right: 20px;
        float:right;
        background: linear-gradient(to right, black 50%, white 50% 100%);
        border-radius: 10px;
        height: 50px;
        width: 70px;
        display: flex;
        align-items: center;
        .fa-dot-circle{
            transition: all .2s ease-out;
            margin-right: 1px;
            color: black;
            &:hover{
                transform: scale(.95);
                color: red !important;
            }
        }
        .ticker{
            animation-name: tick;
            animation-iteration-count: infinite;
            animation-duration: 2s;
        }
        .fa-stack{
            color:white;
            margin-right: 2px;
        }
        .fa-pause-circle{
            transition: opacity 1s, transform 1s;
			transform: rotate(-180deg) scale(.5);
			opacity: 0;
            transition: all .8s;
		}
        .fa-play-circle{
            transition: opacity 1s, transform 1s;
        }
        .rotate{
			transform: rotate(180deg) scale(.5);
			opacity: 0;
        }
        
        .unrotate{
			transform: rotate(0deg) scale(1);
			opacity: 1;
        }
    }
    .shake{
        animation-name: no;
        animation-duration: .2s;
    }
}
.keys{
    display:flex;
    width: 400px;
    height: 12%;
    margin-bottom: 12%;
    margin-left: 10vh;
    margin-right: 10vh;
    border-radius: 10px;
    border-top: solid 11px black;
    border-left: solid 11px black;
    border-right: solid 11px black;
}
.key{
    text-align: center;
    color:white;
    background: white;
    border: solid black 1px;
    width: 8vh;
    height: 100%;
    box-shadow: 0 2.8px 2px black;
    border-radius: 4px;
    &:hover{
        transition: color .5s ease-out;
        color: pink !important;
    }
}
.playing{
    transition: all 2sec;
    transform: scaleY(.98);
    transform-origin: top;
    box-shadow: 0 1px 2px black;
    background: 
        linear-gradient(93.9deg, transparent 80%, grey),
        linear-gradient(86.1deg, grey, white 20%);  
}

@keyframes no{
    0% {transform: rotate(10deg);}
    33% {transform: rotate(-10deg);}
    66% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}

@keyframes tick{
    0% {background: radial-gradient(rgba(255, 0, 0, 1) 10px, transparent 30%, transparent 50%);}
    5% {background: radial-gradient(rgba(255, 0, 0, .95) 10px, transparent 30%, transparent 50%);}
    10% {background: radial-gradient(rgba(255, 0, 0, .9) 10px, transparent 30%, transparent 50%);}
    15% {background: radial-gradient(rgba(255, 0, 0, .85) 10px, transparent 30%, transparent 50%);}
    20% {background: radial-gradient(rgba(255, 0, 0, .8) 10px, transparent 30%, transparent 50%);}
    25% {background: radial-gradient(rgba(255, 0, 0, .75) 10px, transparent 30%, transparent 50%);}
    30% {background: radial-gradient(rgba(255, 0, 0, .7) 10px, transparent 30%, transparent 50%);}
    35% {background: radial-gradient(rgba(255, 0, 0, .65) 10px, transparent 30%, transparent 50%);}
    40% {background: radial-gradient(rgba(255, 0, 0, .6) 10px, transparent 30%, transparent 50%);}
    45% {background: radial-gradient(rgba(255, 0, 0, .55) 10px, transparent 30%, transparent 50%);}
    50% {background: radial-gradient(rgba(255, 0, 0, .5) 10px, transparent 30%, transparent 50%);}
    55% {background: radial-gradient(rgba(255, 0, 0, .45) 10px, transparent 30%, transparent 50%);}
    60% {background: radial-gradient(rgba(255, 0, 0, .4) 10px, transparent 30%, transparent 50%);}
    61% {background: radial-gradient(rgba(255, 0, 0, .35) 10px, transparent 30%, transparent 50%);}
    62% {background: radial-gradient(rgba(255, 0, 0, .3) 10px, transparent 30%, transparent 50%);}
    63% {background: radial-gradient(rgba(255, 0, 0, .25) 10px, transparent 30%, transparent 50%);}
    64% {background: radial-gradient(rgba(255, 0, 0, .2) 10px, transparent 30%, transparent 50%);}
    65% {background: radial-gradient(rgba(255, 0, 0, .15) 10px, transparent 30%, transparent 50%);}
    66% {background: radial-gradient(rgba(255, 0, 0, .1) 10px, transparent 30%, transparent 50%);}
    67% {background: radial-gradient(rgba(255, 0, 0, 0) 10px, transparent 30%, transparent 50%);}
    68% {background: radial-gradient(rgba(255, 0, 0, .1) 10px, transparent 30%, transparent 50%);}
    69% {background: radial-gradient(rgba(255, 0, 0, .15) 10px, transparent 30%, transparent 50%);}
    70% {background: radial-gradient(rgba(255, 0, 0, .2) 10px, transparent 30%, transparent 50%);}
    71% {background: radial-gradient(rgba(255, 0, 0, .25) 10px, transparent 30%, transparent 50%);}
    72% {background: radial-gradient(rgba(255, 0, 0, .3) 10px, transparent 30%, transparent 50%);}
    73% {background: radial-gradient(rgba(255, 0, 0, .35) 10px, transparent 30%, transparent 50%);}
    74% {background: radial-gradient(rgba(255, 0, 0, .4) 10px, transparent 30%, transparent 50%);}
    75% {background: radial-gradient(rgba(255, 0, 0, .45) 10px, transparent 30%, transparent 50%);}
    76% {background: radial-gradient(rgba(255, 0, 0, .5) 10px, transparent 30%, transparent 50%);}   
    77% {background: radial-gradient(rgba(255, 0, 0, .55) 10px, transparent 30%, transparent 50%);}
    80% {background: radial-gradient(rgba(255, 0, 0, .6) 10px, transparent 30%, transparent 50%);}   
    85% {background: radial-gradient(rgba(255, 0, 0, .65) 10px, transparent 30%, transparent 50%);}
    90% {background: radial-gradient(rgba(255, 0, 0, .7) 10px, transparent 30%, transparent 50%);} 
    95% {background: radial-gradient(rgba(255, 0, 0, .75) 10px, transparent 30%, transparent 50%);}
    96% {background: radial-gradient(rgba(255, 0, 0, .8) 10px, transparent 30%, transparent 50%);}
    98% {background: radial-gradient(rgba(255, 0, 0, .85) 10px, transparent 30%, transparent 50%);}    
    100% {background: radial-gradient(rgba(255, 0, 0, 1) 10px, transparent 30%, transparent 50%);}
}

@mixin mediaSm{
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd{
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg{
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXLg{
    @media screen and (min-width: 1171px) {
        @content;
    }
}

//Wide screen
@include mediaXLg {

}

//Desktop & Laptop
@include mediaLg {

}

//Tablet & Small laptop
@include mediaMd {
    header{
        //height: 80%;
       // width: 95vw;
    }

}


//Smartphones
@include mediaSm {
    header{
        margin: none;
        width: 80vw;
        background: 
        radial-gradient(circle 25.2vw at 31% 35%, black 100%, transparent),
        radial-gradient(circle 35vw at 104.5% 25%, pink 100%, transparent),

        linear-gradient(pink 30%, black 30%);

   }
    .keys{
        width: 80vw;
    }

}
